.side-nav-container {
  background-color: rgb(53, 11, 144);
  width: 90px;
  height: 900px;
  position: relative;
  color: white;
  transition: 0.4s;
  margin-top: -20px;
}
.side-nav-box {
  border-bottom: 1px solid white;
}
.side-nav-box h6 {
  font-size: 12px;
  font-weight: 600;
}
.box5 {
  background-color: rgb(255, 187, 0);
  color: rgb(53, 11, 144);
}
.ins-sub {
  margin-top: 5px;
  padding-top: 20px;
  background-color: rgb(241, 240, 240);
  padding-bottom: 50px;
}
.back-dash {
  margin-top: 20px;
  margin-left: -5px;
}
.back-dash i {
  color: rgb(223, 120, 30);
  font-weight: 600;
  margin-left: -5px;
}
.form-container {
  /* width: 600px; */
  /* margin-left: 10px; */
  margin-right: 80px;
  box-shadow: 0px 5px 5px 5px rgb(207, 206, 206);
  padding: 30px 0px 30px 20px;
  margin-bottom: 20px;
}
.form-container h4 {
  color: rgb(11, 11, 121);
  font-weight: 700;
  margin-bottom: 35px;
  font-family: 'Roboto', sans-serif;
}
.form-container .btn {
  margin-top: 80px;
  margin-left: 25px;
}
.form_select select {
  background-color: transparent;
}
.btn button {
  padding: 3px 40px;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  margin-right: 20px;
}
.btn:hover {
  border: none;
}
.btn-clear {
  background-color: rgb(211, 209, 209);
  margin-right: 20px;
}
.btn-search {
  background-color: chocolate;
  color: white;
}
.icons {
  margin-left: 14px;
}
.icons span {
  margin-right: 20px;
  margin-left: 10px;
}
.icons span:first-child {
  padding-right: 10px;
  border-right: 2px solid rgb(205, 204, 204);
}
.icons span p {
  font-size: 13px;
}
.content1 span {
  color: rgb(11, 11, 121);
}
.head-content p {
  font-size: 14px;
  font-weight: 600;
  margin-top: -25px;
}
.app_btn input {
  padding: 5px 40px 5px 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(207, 95, 16);
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-left: 90px;
}
